<main class="main mb-300">
  <div class="main__content">
    <div class="main__content-offer">
      <div class="main__content_offer-h mb-16">
        <!-- <h1 class="main__content-offer-h1 h1 span-green">Dywe</h1> -->
        <p class="S-ru-52 h1-p-anim">
          <span class="span-green S-ru-52">Multi-Chain</span> Futures Trading:
          Expand Your Token Trading Horizons with
          <span class="span-green S-ru-52">Dywe</span>
        </p>
      </div>
      <p class="main__content-offer-info M-r-28 text-50 mb-48">
        Trade token futures seamlessly across multiple chains.
      </p>
      <div class="main__content-offer-buttons">
        <a
          [routerLink]="['/comming-soon']"
          class="main__content-offer-button button btn-main"
          >Get Started</a
        >
      </div>
    </div>
    <div class="main__content-images">
      <div class="main__content-images-volumes">
        <div class="main__content-images-volume">
          <div class="volume-1"></div>
        </div>
        <div class="main__content-images-volume">
          <div class="volume-2"></div>
        </div>
        <div class="main__content-images-volume">
          <div class="volume-3"></div>
        </div>
        <div class="main__content-images-volume">
          <div class="volume-4"></div>
        </div>
      </div>
      <div class="main__content-images-token-block token-1">
        <picture>
          <img
            class="main__content-images-token"
            src="./assets/svg/notcoin-token.svg"
            alt="NOTCOIN"
          />
        </picture>
      </div>
      <div class="main__content-images-token-block token-2">
        <picture>
          <img
            class="main__content-images-token"
            src="./assets/svg/toncoin-token.svg"
            alt="TONCOIN"
          />
        </picture>
      </div>
      <div class="main__content-images-token-block token-3">
        <picture>
          <img
            class="main__content-images-token"
            src="./assets/svg/usdt-token.svg"
            alt="USDT"
          />
        </picture>
      </div>
    </div>
  </div>
</main>
