<main class="main mb-300">
  <div class="main__content">
    <div class="main__content-offer">
      <div class="main__content_offer-h mb-16">
        <p class="S-ru-52 h1-p-anim">
          <span class="span-green S-ru-52">Dywe Liquidity Pool</span>

          Fueling a Seamless Trading Experience Across Chains
        </p>
      </div>
      <p class="main__content-offer-info M-r-28 text-50 mb-48">
        Empower your assets with the Dywe Liquidity Pool — providing deep,
        secure, and cross-chain liquidity solutions for traders and investors
        alike.
      </p>
      <div class="main__content-offer-buttons">
        <a
          [routerLink]="['/comming-soon']"
          routerLinkActive="router-link-active"
          class="main__content-offer-button button btn-main"
          >Get Started</a
        >
      </div>
    </div>
    <div class="main__content-images">
      <img src="./assets/png/liq-img.png" alt="" />
    </div>
  </div>
</main>
