html,
body {
  overflow: hidden;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/gif/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // animation: glith 3.5s infinite steps(1);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 2;
  }
}

@keyframes glith {
  0%,
  100% {
    background-image: url("/assets/png/Maket1920.png");
    background-size: cover;
  }
  20% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  21% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  22% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  22.5% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  25% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  27.5% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  28% {
    background-image: url("/assets/png/Maket1920.png");
    background-size: cover;
  }
  30% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  31% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  32% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  32.5% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  35% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  37.5% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  38% {
    background-image: url("/assets/png/Maket1920.png");
    background-size: cover;
  }
  40% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  41% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  42% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  42.5% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  45% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  47.5% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  48% {
    background-image: url("/assets/png/Maket1920.png");
    background-size: cover;
  }
  50% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  51% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  52% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  52.5% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  55% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  57.5% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  58% {
    background-image: url("/assets/png/Maket1920.png");
    background-size: cover;
  }
  60% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  61% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  62% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  62.5% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  65% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  67.5% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  68% {
    background-image: url("/assets/png/Maket1920.png");
    background-size: cover;
  }
  90% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  91% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  92% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
  92.5% {
    background-image: url("/assets/png/glith19201.png");
    background-size: cover;
  }
  95% {
    background-image: url("/assets/png/glith19202.png");
    background-size: cover;
  }
  97.5% {
    background-image: url("/assets/png/glith19203.png");
    background-size: cover;
  }
}

canvas {
  position: absolute;

  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

@media (max-width: 1660px) {
  .img {
    background-image: url("/assets/gif/bg1660.gif");
  }
}

@media (max-width: 1450px) {
  .img {
    background-image: url("/assets/gif/bg1450.gif");
  }
}

@media (max-width: 1250px) {
  .img {
    background-image: url("/assets/gif/bg1250.gif");
  }
}

@media (max-width: 1040px) {
  .img {
    background-image: url("/assets/gif/bg1040.gif");
  }
}

@media (max-width: 840px) {
  .img {
    background-image: url("/assets/gif/bg840.gif");
  }
}

@media (max-width: 600px) {
  .img {
    background-image: url("/assets/gif/gif600.gif");
  }
}
